@font-face {
    src: url(/fonts/ebgaramondmedium.woff), format('woff');
    src: url(/fonts/ebgaramondmedium.woff2), format('woff2');
    src: url(/fonts/ebgaramondmedium.ttf), format('ttf');
    font-family: 'EB Garamond';
    font-weight: 500;
}
@font-face {
    src: url(/fonts/ebgaramondregular.woff), format('woff');
    src: url(/fonts/ebgaramondregular.woff2), format('woff2');
    src: url(/fonts/ebgaramondregular.ttf), format('ttf');
    font-family: 'EB Garamond';
    font-weight: 400;
}
@font-face {
    src: url(/fonts/interregular.woff), format('woff');
    src: url(/fonts/interregular.woff2), format('woff2');
    src: url(/fonts/interregular.ttf), format('ttf');
    font-family: 'Inter';
    font-weight: 400;
}
@font-face {
    src: url(/fonts/interbold.woff), format('woff');
    src: url(/fonts/interbold.woff2), format('woff2');
    src: url(/fonts/interbold.ttf), format('ttf');
    font-family: 'Inter';
    font-weight: 700;
}