body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
.content-section {
    width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
}
.content-section_theme_dark {
    background-color: #131313;
    color: #F5F5F5;
}
.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
}
.header_navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}
.header_logo {
    width: 78.45px;
    height: 15.43px;
    padding: 24px 0 0 20px;
}
.header_menu {
    list-style: none;
    padding: 24px 20px 0 0;
    font-size: 16px;
}
.header_menu_link:not(:last-child) {
    padding-bottom: 12px;
}
.header_menu_active-link {

}
.cover-title {
    padding: 0 20px 0 20px;
    font-family: 'EB Garamond', 'serif';
    font-size: 72px;
    color: #fff;
    font-weight: 400;
    background-image: url('/images/cover.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 221px;
}
.accent-span {
    display: block;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.intro__heading {
    padding-top: 30px;
    padding: 30px 20px 24px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.intro__title {
    color: #CCCCCC;
    font-weight: 400;
    font-size: 16px;

}
.intro__date {
    white-space: nowrap;
    color: #CCCCCC;
}
.intro__main-text {
    padding: 0 20px 37px 20px;
}
.intro__main-text_paragraph:not(:last-child) {
    padding-bottom: 24px;
}
.content-section__subtitle {
    font-family: 'EB Garamond', 'serif';
    font-size: 28px;
    font-weight: 500;
    padding: 40px 20px 32px 20px;
}
.content-section__introduction {
    padding: 0 20px 32px 20px;
    line-height: 27px;
    font-size: 20px;
}
.content-section__list {
    padding: 0 20px 39px 35px;
}
.content-section__list-item {
    font-size: 16px;
    line-height: 21.6px;
}
.content-section__list-item:not(:last-child) {
    padding-bottom: 16px;
}
.content-section__list-accent {
    font-weight: 700;
    display: inline;
}

/*----------------------------------------------------------*/

.cards-list {
    list-style: none;
    padding: 0 20px 60px 20px;
}
.card {
    border-radius: 30px;
    padding: 24px 20px 20px 20px;
}
.cards-list__item:not(:last-child) {
    padding-bottom: 32px;
}
.card_theme_dark {
    background-color: #343434;
}
.card_theme_bright {
    background-color: #FEE42A;
    color: #131313;
}
.card__author {

}
.card__author-photo {
    width: 100px;
    height: auto;
    padding-bottom: 8px;
}
.card__author-name {
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
}
.card__content {

}
.card__title {
    font-family: 'EB Garamond', 'serif';
    font-size: 22px;
    padding-bottom: 8px;
    font-weight: 400;
}
.card__text {
    font-size: 16px;
    line-height: 21.6px;
}
/*-----------------------------ФУТЕР--------------------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-top: 1px solid #FEE42A;
}
.footer__copy {
    width: 78.45px;
    height: 15.43px;
}
.footer__links {
    list-style: none;
    display: flex;
}
.footer__links_item > a {
    text-decoration: none;
}
.footer__links_item:not(:last-child) {
    padding-right: 16px;
}